body{
  color: #333;
  background-color:#fff;
  font-family: 'Droid Serif', serif;
}
.nav{
  margin: 8% auto 0;
  background-color: transparent;
  box-shadow: none;
}

nav a{
  text-decoration: none;
  color: white;
  font-size: 25px;
}
img{
  width: 100%;
}

.imgWrapper{
  position: fixed;
}

footer{
  height: 50px;
  background-color: #666;
  margin: 20px 0 0 0;
}

#header h1{
  color: white;
  padding-top: 10%;
  text-align: center;
  font-size: 60px;
}

.arrow{
  height: 40px;
  width: 40px;
  margin: 20px 0 0 10px;
  position: fixed;
}

#page-wrapper{
  width: 100%;
  margin-top: -50px;
}

#header{
  margin: 0;
  width: 100%;
  background-image: url(http://orig03.deviantart.net/3255/f/2014/085/4/3/hazy_morning_light_by_mashuto-d7brgj6.jpg);
  background-size: cover;
  height: 500px;
  text-align: center;
}

#myexperience{
  margin: 0 0 40px 0;
}

#myprojects{
  margin: 0 0 40px 0;
}

#contact{
  margin: 0 0 40px 0;
}


.downArrow{
  margin: 30px 0 30px 0;
  height: 60px;

}
.icon{
  height: 50px;
  width: 50px;
  margin: 1%;
}

.learnMore{
  margin: 50px 0 0 0;
}

.myphoto{
  width:200px;
  height:200px;
  border-radius: 50%;
  display: block;
  margin: 4rem auto;
}

@media (max-width: 800px) {
  #header h1{
    font-size: 42px;
  }
  .divPic{
    width: auto;
    overflow: hidden;
  }
  nav a{
    font-size: 18px;
  }
}
